<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<header class="bg-white dark:bg-gray-900">
    <nav class="bg-white dark:bg-gray-900">
        <div class="container flex flex-col items-center p-6 mx-auto">
            <a href="#" class="mx-auto ">
                <img class="w-24 sm:w-32 md:w-48 lg:w-64 xl:w-72"
                    src="https://image.tmdb.org/t/p/original/cgwwn49FzTmc8kv4PGKQx4btbb3.png" alt="">
            </a>
            <div class="flex items-center justify-center mt-6 text-gray-600 capitalize dark:text-gray-300">
                <a href="#Inicio"
                    class="mx-2 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-lime-500 sm:mx-6 text-lg focus:border-lime-500">Inicio</a>

                <a href="#personajes"
                    class="mx-2 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-lime-500 sm:mx-6 text-lg focus:border-lime-500">Personajes</a>

                <a href="#episodios"
                    class="mx-2 border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-lime-500 sm:mx-6 text-lg focus:border-lime-500">Episodios</a>
            </div>
        </div>
    </nav>
    <div class="w-full bg-center bg-cover h-[49rem] Wubba-Lubba">
        <div class="flex items-center justify-center w-full h-full bg-gray-900/40">
            <div class="text-center">
                <h1 class="text-3xl font-bold text-white lg:text-7xl text-shadow-green">
                    ¡Wubba Lubba <p></p>Dub Dub!
                </h1>
                <a href="#personajes">
                    <button class="w-full sm:w-auto px-5 py-2 mt-4 text-sm font-medium
    text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md
    hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                        Comenzar
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>