<div class="lista-episodios episodios-section">
    <div>
        <br />
        <h1 id="episodios" class="text-3xl font-bold text-white lg:text-6xl text-center mb-8 text-shadow-green">
            Episodios
        </h1>
    </div>
    <br />
    <div class="max-w-md mx-auto bg-white bg-opacity-15 p-6 rounded-lg shadow-lg">
        <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
            <ng-container *ngIf="isLoading; else lista">
                <li class="py-3 sm:py-4">
                    <div class="text-white text-center">Cargando episodios...</div>
                </li>
            </ng-container>
            <ng-template #lista>
                <li *ngFor="let episodio of episodios" class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="shrink-0">
                            <h4 class="text-lg text-white truncate">{{ episodio.id }}</h4>
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-mono truncate text-green-400">
                                {{ episodio.name }}
                            </p>
                            <p class="text-lg text-white truncate">
                                Episodio: {{ episodio.episode.split(' ')[0] }}
                            </p>
                            <p class="text-lg text-white">
                                Fecha: {{ episodio.air_date.split(' ')[0] }}
                                {{ episodio.air_date.split(' ')[1] }}
                                {{ episodio.air_date.split(' ')[2] }}
                            </p>
                        </div>
                    </div>
                </li>
            </ng-template>
        </ul>
        <!-- Paginación -->
        <div class="flex justify-between mt-4">
            <button class="px-4 py-2 bg-green-500 text-white rounded-lg disabled:bg-gray-400" (click)="paginaAnterior()"
                [disabled]="currentPage === 1">
                Anterior
            </button>

            <button class="px-4 py-2 bg-green-500 text-white rounded-lg disabled:bg-gray-400"
                (click)="siguientePagina()" [disabled]="currentPage === totalPages">
                Siguiente
            </button>
        </div>
    </div>
</div>